<div class="updateNote" >
    <mat-card class="noteCard" >
            <mat-card-title class="header">
                <input matInput placeholder="Title" class="input"  value="{{ data.title }}" [(ngModel)]="data.note.title">
                <mat-icon class="material-icons-outlined" *ngIf="!isPin" style="color: rgb(80, 79, 79);" (click)="isPin=true">push_pin</mat-icon>
                <mat-icon class="material-icons" *ngIf="isPin" style="color: rgb(80, 79, 79);" (click)="isPin=false">push_pin</mat-icon>
            </mat-card-title>
            <div>
                <textarea matInput cdkTextareaAutosize placeholder="Note"  class=" input textarea"  [(ngModel)]="data.note.description" value="{{ data.description }}"></textarea>
            </div>
            <mat-card-actions>
                <div class="footer" >
                    <div class="icons">
                        <app-note-icons></app-note-icons>
                    </div>
                    <div class="button">
                        <button mat-flat-button mat-dialog-close (click)="EditNote()" >Close</button>
                    </div>
                </div>
            </mat-card-actions>
    </mat-card> 
</div>